<div class="row mt-3">
    <div class="col mx-auto text-center">
        <p>
            {% assign categories = site["itemscategories"] | sort %}

            {% assign toolCategory = page.display_name %}
            {% if toolCategory != null %}
                <a href="/" class="btn btn-info btn-icon-split btn-sm m-1">All Categories</a>
            {% endif %}

            <!-- Initial Categories (3 shown) -->
            <span id="initial-categories">
                {% for cat in categories limit: 5 %}
                    {% if toolCategory != null and toolCategory == cat.display_name %}
                        <a href="{{ cat.url }}" class="btn btn-info-dark btn-icon-split btn-sm m-1">{{ cat.display_name }}</a>
                    {% else %}
                        <a href="{{ cat.url }}" class="btn btn-info btn-icon-split btn-sm m-1">{{ cat.display_name }}</a>
                    {% endif %}
                {% endfor %}
            </span>

            <!-- Hidden Categories for "Show More" -->
            <span id="hidden-categories" style="display: none;">
                {% for cat in categories offset: 5 %}
                    {% if toolCategory != null and toolCategory == cat.display_name %}
                        <a href="{{ cat.url }}" class="btn btn-info-dark btn-icon-split btn-sm m-1">{{ cat.display_name }}</a>
                    {% else %}
                        <a href="{{ cat.url }}" class="btn btn-info btn-icon-split btn-sm m-1">{{ cat.display_name }}</a>
                    {% endif %}
                {% endfor %}
            </span>

            <!-- Expand/Collapse Buttons -->
            <button id="toggle-categories" class="btn btn-info-dark btn-sm m-1" onclick="toggleCategories()">More Categories <i class="fas fa-angle-double-down ml-2"></i></button>
        </p>
    </div>
</div>

<script>
    function toggleCategories() {
        const hiddenCategories = document.getElementById('hidden-categories');
        const toggleButton = document.getElementById('toggle-categories');
        const initialCategories = document.getElementById('initial-categories');

        if (hiddenCategories.style.display === 'none') {
            hiddenCategories.style.display = 'inline';
            initialCategories.style.display = 'none';
            toggleButton.innerHTML = 'Show Less <i class="fas fa-angle-double-up ml-2"></i>';
        } else {
            hiddenCategories.style.display = 'none';
            initialCategories.style.display = 'inline';
            toggleButton.innerHTML = 'More Categories <i class="fas fa-angle-double-down ml-2"></i>';
        }
    }
</script>
