---
title: "Reading time calculator - Google quick read label estimator | TipSeason"
layout: default
permalink: "/items-home.html"
disqus: false
archive: false
---
<!-- This page forms layout for AI tools Homepage. For example: tipseason.com/ai-tools/  -->
{% include items-header.html %}

<!--<div class="row listrecent d-flex align-items-center justify-content-center">-->
<div class="container">
    <div class="row">
        <div class="col text-center text-highlight">
            <h1>Top AI Newsletters to follow</h2>
            <h2>Best AI email newsletters to learn and monetize with AI</h2>
        </div>
    </div>

    {% include items-categories.html %}

    <hr>

    <div class="row">
        <h3 class="text-danger ml-3">Trending Newsletters</h3>
    </div>

    <div class="row listrecent">

        {% for post in site.items %}
            {% if post.trending %}
                {% include items-card.html %}
            {% endif %}
        {% endfor %}

    </div>

    <hr>
    <div class="row">
        <h3 class="text-danger ml-3">All Newsletters</h3>

    </div>

    <div class="row listrecent">
        {% assign displayed_categories = "" %}
        {% for post in site.items %}
            {% unless displayed_categories contains post.category or post.trending %}
                {% assign displayed_categories = displayed_categories | append: post.category | append: "|" %}
                {% include items-card.html %}
            {% endunless %}
        {% endfor %}

    </div>

    <hr>

    {% include items-promote.html %}
    {% include items-categories.html %}

</div>

